p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: #f1f5f9 !important;
}

.body-page {
  background: #18181b !important;
}

footer {
  background: #27272a !important;
  color: #f1f5f9 !important;
}

.content-header > .breadcrumb {
  background: transparent !important;
  color: #f1f5f9 !important;
}

/* div[style*="background-color:transparent;padding-bottom:15px"] {
  display: none;
} */

.breadcrumb > .active {
  color: #f1f5f9 !important;
}

.content-header > .breadcrumb > li > a {
  color: #f1f5f9 !important;
}

.skin-green .wrapper,
.skin-green .main-sidebar,
.skin-green .left-side {
  background: #212123 !important;
}

.skin-green .sidebar-menu > li:hover > a,
.skin-green .sidebar-menu > li.active > a {
  background: #27272a !important;
}

.skin-green .sidebar-menu > li > .treeview-menu {
  background: #29292b !important;
}

.card {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(20px) !important;
}

.box-header.bg-green-gradient {
  background: #00a65a !important;
  border-radius: 16px 16px 0 0;
}

.box.box-solid.box-shadow {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2) !important;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.box.box-primary {
  background: #27272a !important;
  border-top-color: #00a65a !important;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.box-header.with-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.box {
  background: rgba(255, 255, 255, 0.1) !important;
  border-top: 3px solid #00a65a !important;
}

.box.box-solid.box-shadow .box-body {
  background: rgba(255, 255, 255, 0.1) !important;
  border-top: 2px solid #00a65a !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.table > thead > tr > th {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1) !important;
}

thead {
  background: rgba(255, 255, 255, 0.1) !important;
}

th,
td {
  color: #f1f5f9 !important;
}

tr:hover {
  background: rgba(255, 255, 255, 0.1) !important;
}

.box-footer.clearfix {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
